:root {
  --main-dark-color: #121b51;
  --secondary-dark-color: #243a7e;

  --main-light-color: #f6f6f6;
  --secondary-light-color: #ccd7da;

  --highlight-color: #3cdfe7;
  --highlight-dark-color: #166064;

  --viewport-height: 100%;
}

*,
*::after,
*::before:not(i) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  list-style: none;
}
html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  list-style: none;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 0;
}

/*#region color manager*/
.main-color {
  background-color: var(--main-dark-color);
  color: var(--main-light-color);
  transition: all 0.5s;
}
.main-color.light {
  background-color: var(--main-light-color);
  color: var(--main-dark-color);
}

.secondary-color {
  background-color: var(--secondary-dark-color);
  color: var(--main-light-color);
  transition: all 0.5s;
}
.secondary-color.light {
  background-color: var(--secondary-light-color);
  color: var(--main-dark-color);
}

.waves-main-color {
  color: var(--main-dark-color);
  transition: all 0.5s;
}
.waves-main-color.light {
  color: var(--main-light-color);
}
.waves-secondary-color {
  color: var(--secondary-dark-color);
  transition: all 0.5s;
}
.waves-secondary-color.light {
  color: var(--secondary-light-color);
}

.highlight {
  color: var(--highlight-color);
  transition: all 0.5s;
}
.highlight.light {
  color: var(--highlight-dark-color);
}
/*#endregion color manager*/

/*#region Waves Style */
.waves {
  aspect-ratio: 10;
  position: absolute;
  bottom: 0;
  left: 0;
}

.parallax > use {
  animation: move-forever 20s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 10s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 15s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 20s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 30s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*#endregion Waves*/

/*#region general styles*/
h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--highlight-color);
}

a {
  color: inherit;
}

article {
  padding: 50px 0;
}

section {
  width: 100%;
  height: 100%;
  padding: 50px 0 150px 0;
  position: relative;
}

/* Section Titles */
.sectionTitle {
  overflow: hidden;
  text-align: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}
.sectionTitle * {
  font-weight: 600;
  font-family: "Akshar", sans-serif;
}

.sectionTitle > span {
  position: relative;
  display: inline-block;
}
.sectionTitle > span:before,
.sectionTitle > span:after {
  content: "";
  position: absolute;
  top: 45%;
  border-bottom: 5px solid;
  width: 100vw;
  margin: 0 20px;
}
.sectionTitle > span:before {
  right: 100%;
}
.sectionTitle > span:after {
  left: 100%;
}

/* Buttons */
.button {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.2s;
  filter: brightness(1);
}
.button p {
  font-weight: 900;
  margin: 0 18px;
}
.button:hover,
.button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 0 4px 12px;
}
.button:hover,
#back-button:hover {
  transform: translateY(-1px);
}

.button:active,
#back-button:active {
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  transform: translateY(0);
  filter: brightness(0.7);
}

a {
  text-decoration: none;
}

/*#endregion general*/

/* Languages */
.hideText {
  display: none;
}

/*#region header*/
header {
  height: 100vh; 
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.header--buttons {
  position: fixed;
  display: flex;
  top: 20px;
  left: 20px;
  font-size: 1.5rem;
  line-height: 1;
  z-index: 100;
}

.top-button {
  margin-right: 50px;
  cursor: pointer;
  transition: all 0.2s;
  filter: brightness(1);
}
.top-button:active {
  transform: translateY(2px);
  filter: brightness(0.7);
}

.dkButton {
  position: absolute;
  opacity: 1;
  transform: rotate(0);
  transition: all 0.5s;
}

.dkButton.anim {
  opacity: 0;
  transform: rotate(180deg);
}

.langButton {
  font-weight: 900;
  position: absolute;
  opacity: 1;
  transform: rotate(0);
  transition: all 0.5s;
}
.langButton.anim {
  opacity: 0;
  transform: rotate(180deg);
}

.avatar {
  position: relative;
  margin-top: -100px;
  width: 150px;
  height: 150px;
  background-image: url(./img/avatar.webp);
  background-size: contain;
  background-position: center;
}

.pupil{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(197, 178, 8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.eye{
  border-radius: 50%;
  position: absolute;    
  top: 50%;
  left: 50%;
  
  background-color: white;
  width: 15px;
  height: 15px;
  transform: translate(-140%, -150%);
  /* transform: translate(-325%, -350%);
  background-color: #FFDBB3;
  box-shadow: 0 0 0 5px #FFDBB3; 
  width: 5px;
  height: 5px; */
}
.eye:last-of-type{
  left: 69%;
}

.header--text {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.changing--text {
  font-weight: 700;
  overflow: hidden;
  width: 200px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  font-size: 1.1rem;
  height: 1.5em;
}

.changing--text ul {
  animation: text-anim 12s cubic-bezier(0.44, 0.73, 0.6, 1.22) infinite;
}

@keyframes text-anim {
  0% {
    transform: translateY(0);
  }
  19% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-1.5em);
  }
  39% {
    transform: translateY(-1.5em);
  }
  40% {
    transform: translateY(-3em);
  }
  59% {
    transform: translateY(-3em);
  }
  60% {
    transform: translateY(-4.5em);
  }
  79% {
    transform: translateY(-4.5em);
  }
  80% {
    transform: translateY(-6em);
  }
  99% {
    transform: translateY(-6em);
  }
  99.01% {
    transform: translateY(1.5em);
  }
}

.changing--text ul li p {
  font-size: 1em;
}

.scroll-icon {
  font-size: 2rem;
  position: absolute;
  bottom: 40px;
  z-index: 100;
  opacity: 1;
  transition: all 1s;
  animation: bounce 2s ease infinite;
  z-index: 1;
}

.scroll-icon:hover .scroll-text p {
  opacity: 1;
}

.scroll-icon p {
  font-size: 1rem;
  opacity: 0;
  transition: all 0.2s;
}

.scroll-icon.scrolled {
  opacity: 0;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
/*#endregion header*/

/*#region navbar*/
nav {
  position: sticky;
  display: block;
  top: 0;
  font-size: 1.1rem;
  z-index: 10;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.navBarButtons {
  display: none;
}

nav ul {
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: right;
}

nav ul li {
  margin-left: 30px;
  cursor: pointer;
  font-weight: 700;
}
nav ul li:hover {
  color: var(--highlight-color);
}
.light + nav ul li:hover,
.light + nav ul li.highlight {
  color: var(--highlight-dark-color);
}

/* Line under */
nav ul li::after {
  display: block;
  cursor: pointer;
  content: "";
  border-bottom: solid 3px var(--highlight-color);
  transition: all 250ms ease-in-out;
  transform: scaleX(0);
}
.light + nav ul li::after {
  border-bottom: solid 3px var(--highlight-dark-color);
}
nav ul li.highlight::after,
nav ul li:hover::after {
  transform: scaleX(1);
}

#back-button {
  width: 50px;
  height: 50px;
  line-height: 1.6;
  border-radius: 50%;
  position: fixed;
  font-size: 2rem;
  bottom: 20px;
  right: 40px;
  z-index: 1000;
  cursor: default;
  opacity: 0;
  transition: opacity 0.5s;
  transition: all 0.2s;
  box-shadow: 0 0 5px black;
}

#back-button.scrolled {
  opacity: 1;
  cursor: pointer;
}
/*#endregion navbar*/

/*#region PROJECTS*/
.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.project {
  width: min(700px, 90%);
  display: flex;
  gap: 20px;
}

.projectPreview:hover {
  background-size: cover;
}

.projectInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  font-size: 1.1rem;
}

h2 {
  font-size: 1.5rem;
}

.projectInfo ul {
  margin-left: 10px;
  margin-top: 5px;
  list-style: none;
}

/*#region other projects*/
.gridContainer {
  display: grid;
  margin: auto;
  margin-top: 50px;
  width: min(700px, 90%);
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  gap: 20px;
}

.projectItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 1;
}

.projectPreviewImage {
  position: relative;
  width: fit-content;
  aspect-ratio: 16/9;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(221, 226, 242, 1) 25%,
    rgba(232, 235, 245, 1) 50%,
    rgb(196, 203, 231) 75%,
    rgba(224, 226, 243, 1) 100%
  );
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px black;
  overflow: hidden;
}

.projectPreviewImage > img,
video {
  width: 100%;
  height: 100%;
}

.sectionDescription {
  font-size: 1.2rem;
  text-align: center;
  margin: auto;
  width: min(700px, 90%);
}

/*#region practicas*/
.projectPreviewImage > img:not(.gameImage) {
  transform: scale(1);
  transition: all 0.3s;
  object-fit: contain;
  padding: 20px;
}
.projectPreviewImage > img:hover:not(.gameImage) {
  transform: scale(1.1);
}
/*#endregion practicas*/

/*#region GAMEDEVELOPMENT*/
.coverImage {
  opacity: 1;
  transform: translateY(-100%);
  transition: all 0.5s;
}
.coverImage:hover {
  opacity: 0;
}

/* Plataforms Icons */
.plataforms-container {
  position: absolute;
  top: 10px;
  left: 10px;
}
.plataforms-container > i {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 5px;
  margin-right: 10px;
  border-radius: 50%;
  line-height: 1.5;
}

.buttons-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  gap: 10px;
}

.singleIcon {
  padding: 8px 15px;
  justify-content: center;
}

.hideOnBig {
  display: none;
}
/*#endregion GAMEDEVELOPMENT*/

/*#endregion other projects*/

/*#region SKILLS */

.skillsGrid {
  display: grid;
  width: min(800px, 90%);
  margin: auto;
  grid-template-areas:
    "logo0 logo0 logo0"
    "title0 title0 title0"
    "logo1 logo1 logo2"
    "title1 title1 title2"
    "skills1 skills2 skills3"
    "skills1 skills2 skills3"
    "skills4 logo3 logo4"
    "skills4 title3 title4"
    "skills4 skills5 skills6"
    "skills4 skills5 skills6";
  gap: 10px;
}

.skillsGrid div {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 1;
}

.logoSkill {
  font-size: 2rem;
}

.skillsGrid > .titleSkill {
  font-size: 1.5rem;
  font-weight: 900;
  border-radius: 50px 50px 0 0;
}

.skillsGrid > .skillsSkill {
  font-size: 1.2rem;
  line-height: 2;
}

.skillsGrid > .skillsSkill i {
  color: var(--highlight-color);
  font-size: 1.5rem;
  margin-right: 20px;
}

.skillsSkill.light i {
  color: var(--highlight-dark-color);
}

.div-1 {
  grid-area: logo0;
}
.div0 {
  grid-area: title0;
}
.div1 {
  grid-area: logo1;
}
.div2 {
  grid-area: logo2;
}
.div3 {
  grid-area: title1;
}
.div4 {
  grid-area: title2;
}
.div5 {
  grid-area: skills1;
}
.div6 {
  grid-area: skills2;
}
.div7 {
  grid-area: skills3;
  text-align: center;
}
.div9 {
  grid-area: logo3;
}
.div10 {
  grid-area: logo4;
}
.div11 {
  grid-area: skills4;
}
.div12 {
  grid-area: title3;
}
.div13 {
  grid-area: title4;
}
.div14 {
  grid-area: skills5;
}
.div15 {
  grid-area: skills6;
}

/*#endregion SKILLS */

/*#region ABOUT */

.mainContainer {
  width: min(800px, 90%);
  margin: auto;
}
.mainContainer * {
  z-index: 1;
}

.profilePicture,
.aboutText,
.bottomContainer {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5),
    5px 5px 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 20px;
}

.topContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.profilePicture {
  position: relative;
  width: min(300px, 100%);
  border-top-left-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.profileBackground {
  position: absolute;
  width: 110%;
  height: 130%;
  background-image: url(./img/Logos.webp);
  background-position: center;
  background-size: cover;
  animation: float 10s ease infinite;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.photoProfile {
  width: 180px;
  height: 180px;
  background-color: var(--main-dark-color);
  background-image: url("./img/Rich\ CV.webp");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border: 5px solid var(--highlight-color);
  z-index: 1;
}
.light > .photoProfile {
  border: 5px solid var(--highlight-dark-color);
}

.aboutText {
  width: 100%;
  border-top-right-radius: 50px;
}

.aboutText > .changing--text {
  width: 100%;
}

.aboutText > p {
  margin-top: 10px;
  font-size: 1.1rem;
}

.bottomContainer {
  padding: 25px 40px 40px 40px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.1rem;
  line-height: 2;
  font-weight: 600;
  border-radius: 5px 5px 50px 50px;
  word-wrap: break-word;
  word-break: break-all;
}

.courses ul li:hover {
  color: var(--highlight-color);
}
.light > .courses ul li:hover {
  color: var(--highlight-dark-color);
}

.langAndResume {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cvButton {
  margin-top: 30px;
}
/*#endregion ABOUT*/

/*#region CONTACT*/

.contactContainer {
  width: min(900px, 90%);
  margin: auto;
  display: flex;
  gap: 30px;
}

.contactContainer * {
  z-index: 1;
}

.contactData {
  display: flex;
  flex-direction: column;
}

.contactText {
  width: 90%;
  font-size: 1.3rem;
}
.cheer {
  font-weight: 600;
}
.cheer:hover {
  font-size: 2rem;
  transform-origin: 0;
  animation: hithere 1s ease infinite;
}
@keyframes hithere {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.95, 1.05);
  }
  50% {
    transform: scale(1.05, 0.95);
  }
  75% {
    transform: scale(0.98, 1.02);
  }
}

.contactIcons ul {
  margin: 50px 0;
  display: flex;
  font-size: 2rem;
  gap: 50px;
  cursor: pointer;
}
.contactIcons ul li {
  transform: scale(1) translateY(0);
  transition: all 0.3s;
}

.contactIcons ul li:hover {
  transform: scale(1.2) translateY(-2px);
}
.contactIcons ul li:active {
  transform: scale(1.2) translateY(2px);
  filter: brightness(0.5);
}

.contactInfo ul li * {
  display: inline;
  font-size: 1.1rem;
  margin-right: 10px;
  line-height: 1.8;
}

.contactForm form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactForm form input {
  font-size: 1.2rem;
  border-style: none;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contactForm form input[type="submit"] {
  justify-content: center;
  font-weight: 900;
}

.contactForm form textarea {
  font-size: 1.2rem;
  border-style: none;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  resize: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*#endregion CONTACT*/

/* FOOTER */
footer {
  padding: 10px 20px;
}
footer p {
  font-size: 1rem;
  transition: all 0.3s ease;
}
footer p:hover {
  font-size: 1.05rem;
  text-decoration: underline;
}

/* MEDIA QUARY */
@media screen and (max-width: 800px) {
  body {
    font-size: 20px;
  }
  .buttons-container {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .hideOnBig {
    display: block;
  }
  .singleIcon {
    justify-content: space-between;
  }

  .button {
    padding: 10px 30px;
  }

  .project {
    flex-direction: column;
    align-items: center;
  }

  .waves {
    aspect-ratio: 5;
  }

  /* NAVBAR */
  .navBarButtons {
    display: block;
    font-size: 1.5rem;
    text-align: right;
    line-height: 1;
    cursor: pointer;
  }

  nav ul {
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    padding: 0;
    margin-top: 20px;
    transition: all 0.5s ease;
    display: none;
  }

  nav ul.openNav {
    display: flex;
  }

  nav {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  #hideNav {
    display: none;
  }

  .skillsGrid {
    grid-template-areas:
      "logo0 logo0"
      "title0 title0"
      "logo1 logo1"
      "title1 title1"
      "skills1 skills2"
      "skills1 skills2"
      "skills4 logo2"
      "skills4 title2"
      "skills4 skills3"
      "skills4 skills3"
      "logo3 logo4"
      "title3 title4"
      "skills5 skills6"
      "skills5 skills6";
  }

  .topContainer {
    flex-direction: column;
  }

  .profilePicture {
    width: 100%;
    border-radius: 50px 50px 5px 5px;
  }

  .aboutText {
    border-radius: 5px;
  }

  .bottomContainer {
    grid-template-columns: 1fr;
    padding: 15px 20px 20px 20px;
  }

  .langAndResume {
    margin-top: 30px;
  }

  .contactContainer {
    flex-direction: column;
  }
}

@media screen and (min-width: 1700px) {
  .waves {
    aspect-ratio: 20;
  }

  section {
    padding: 50px 0 200px 0;
  }
}

@media screen and (max-width: 450px) {
  .skillsGrid {
    grid-template-areas:
      "logo0"
      "title0"
      "logo1"
      "title1"
      "skills1"
      "skills2"
      "skills4"
      "logo2"
      "title2"
      "skills3"
      "logo3"
      "title3 "
      "skills5"
      "logo4"
      "title4"
      "skills6";
  }
}

@media screen and (max-width: 250px) {
  .button > p {
    display: none;
  }
  h1,
  h2 {
    font-size: 1.5rem;
    word-wrap: break-word;
    word-break: break-all;
  }
  .contactIcons ul {
    flex-direction: column;
  }
}
@media (hover: none) {
  .coverImage {
    opacity: 0;
  }
  .cheer {
    font-size: 2rem;
    animation: hithere 1s ease infinite;
  }
}
